table{
    border-collapse: collapse;
}
.prazna{
    border-style: none;
}
table,td,th{
    border: 1px solid black;
}
th,td{
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
td{
    font-size: small;
}
.prisutan{
    background-color: rgb(61, 227, 61);
}
.odsutan{
    background-color: red;
}