
/*Style the logout button*/
button[type="button"] {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type="button"]:hover{
    background-color: darkblue;
}
#meni a {
    color: blue;
    text-decoration: none;
    margin-right: 10px;
}
